* {
  list-style: none;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  width: 200px;
}

#author {
  width: 200px;
}

#add {
  width: 4rem;
  align-self: flex-end;
}
